.add__product__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 10%;
	background-color: var(--secondary-color);
	padding: 20px;
}

.add__product__container > input {
	border: none;
	background-color: var(--terciary-color);
	color: var(--primary-color);
	font-size: 1.5rem;
	padding: 10px;
}

.add__product__container > button {
	border: none;
	background-color: var(--primary-color);
	color: var(--terciary-color);
	font-size: 1.5rem;
	padding: 10px;
}
